 
 <div class='container'>


        <div class="row"><br></div>
        
        <div class="row"><br></div>

        <div class="row">

                        <div class='col-md-4'></div>
        
                        <div class='col-md-4'> 
        
                                <h3 style="color: burlywood;">Customer Sign-In Screen</h3> 
                                
                        </div>
        
        </div>
 
        

        <div class="row"><br></div>
        
        <div class="row"><br></div>
 
                
        <div class="row"> 

                <div class='col-md-4'></div>

                <div class='col-md-4'> 

                        <label for='custId' class="control-label">Customer Id:</label> <br>
                        <input class="form-control st1" type='text' [formControl]="custId"><br><br>

                        <label for="custPassword" class="control-label">Password:</label> <br>
                        <input class="form-control st1"  type='password' [formControl]="custPassword"><br>

                </div>
        </div> 
        
        <div class="row"><br></div>
        
        <div class="row">  


                <div class='col-md-4'></div>

                <div class='col-md-2'> 

                        <button type='button' class='st1 btn btn-primary' (click)="onSubmit()">
                                        Sign In 
                        </button> 
                </div> 

        </div>

        <div class="row"><br></div>
         
        <div class="row"> 

                <div class='col-md-4'></div>
        
                <div class='col-md-4'>  

                        <div style="color: burlywood; font-size: larger;">
                                {{message}}
                        </div> 
                        
                </div>

        </div>
     
        <div class="row"><br></div>
        
        <div class="row"><br></div>

        <div class="row">

                        <div class='col-md-4'></div>
        
                        <div class='col-md-6'> 
        
                                <h3 style="color:burlywood">Looking forward to serving you!</h3> 
                                
                        </div>
        
                </div>
 
</div> 
