<div class='container'>  
  <br><br>

  <div class="row">

          <h3> About </h3> 

  </div> <br>

  <div class="row"> 

    <p class='para'> Instructions:</p>

  </div>

  
  <div class="row"> 

      <p class='para'> Use this app to register as a customer then enter and adjust claims.</p> 

      <ul>
        <li> register - Enter customer info : you will be prompted to select a customer
             identification number and password. 
        </li>
        <li> update - Revise customer info. </li>
        
        <li> claim - Enter and submit a claim. You must select a claim type: medical, dental etc. </li>
     
     
     <li> history - Review claim history. An option is provided to adjust a claim with a new one. </li>
      </ul>

</div>
      
  <div class='row'> 

      <p class='para'> Customization of this display.</p>  
  </div>

  <div class='row'>

      <ul>
        <li> menu -  Select menu links or drop down menu
        </li>
        <li> clicking on style will change register, update and claim from styles. <br>
             Available Styles: picture backgorund, solid or outline backgrounds with color link to
             change colors.
        </li>
        </ul>
      </div>
   
    <div class='row'>
        
      <p class='para'> An administration function is available for authorized individuals. </p>
    </div>

    
    <div class='row'>
         <ul> 
            <li> 
                Password Reset, Customer Id Reset and Customer List functions are available.
            </li>
          
            </ul>
      </div>
  
    </div>

    <br>
    <br>
 
    <Button class='btn btn-primary'  (click)="onReturn()">Return</Button> 
       