 
 <div class='container'>


    <div class="row"><br></div>
    
    <div class="row"><br></div>
  
    <div class="row">
  
                    <div class='col-md-4'></div>
    
                    <div style="color:burlywood; font-size: large;" class='col-md-4'> 
    
                            <h3>Administrator Actions</h3> 
                            
                    </div>
    
    </div>
  
    
  
    <div class="row"><br></div>
    
    <div class="row"><br></div>

    <div class="row">  
        
        <div class='col-md-4'></div>
  
        <div class='col-md-4'>

                <label for="curCustId" class="control-label">Customer Id:</label> <br>
                <input type='text' class="form-control st1" [(ngModel)]="curCustId"><br> 

        </div>

    </div> 
    
    <div class="row"><br></div>
            
    <div class="row"> 
  
            <div class='col-md-4'></div>
  
            <div class='col-md-4'>  
         

                    <label for='newPassword' class="control-label">New Password:</label> <br>
                    <input type='password' class='form-control st1' [(ngModel)]="newPassword"><br><br>

                    <label for="newCustId" class="control-label">New Customer Id:</label> <br>
                    <input type='text' class='form-control st1' [(ngModel)]="newCustId"><br>
  
            </div>

            <div class='col-md-4'>       
  
                <label for='newPassword2' class="control-label">Confirm Password:</label> <br>
                <input type='password' class='form-control st1' [(ngModel)]="newPassword2"><br><br>

                <label for="newCustId2" class="control-label">Confirm New Customer Id:</label> <br>
                <input type='text' class='form-control st1' [(ngModel)]="newCustId2"><br>

        </div>
    </div>
    <div class="row"><br></div>
    
    <div class="row"><br></div>
    
    <div class="row"><br></div>
    
    <div class="row">  
  

                <button  type='button' class='st1 b1 btn btn-primary' (click)="onList()"
                         style="margin-left: 380px;">
                                List Customers
                </button> 
           
                <button type='button' class='st1 b1 btn btn-primary' (click)="onResetPassword()">
                                Reset Password
                </button> 
             
  
                <button type='button' class='st1 b1 btn btn-primary' (click)="onResetCustId()">
                                Change Customer Id
                </button> 
            
  
    </div>
  
    <div class="row"><br></div>
     
    <div class="row"> 
  
            <div class='col-md-4'></div>
    
            <div class='col-md-4'>  
  
                    <div style="color:burlywood;font-size: large;">
                            {{message}}
                    </div> 
                    
            </div>
  
    </div>
   
  
  </div> 
  
  
