
.col-md-4 { color: white; }

.blue { color: dodgerblue; }

.goldenrod {color: goldenrod; }

.lawngreen { color: lawngreen; }

h4 { color: white }

.orange { color: orange; }

.red { color: red;}

.pink { color: palevioletred }

.underline { color: goldenrod; text-decoration: underline }

.message { color: white} 

a:hover { color: white; }

.gold { color: gold }

.aqua { color: aqua }
