
/* splash css */

h1, h2 { color: dodgerblue; text-align: center }
 
.top { font-family: arial; font-size: 45; color:dodgerblue; font-style:italic}
.bot { font-family: arial; font-size: 35; color: lightskyblue; font-style: italic }

.t1 { font-size: large; margin-right: 8px; }