<div class='row-md-6'>
 

  <h1 class="top"> Welcome to Insurance </h1>
 
  <br>
  <img src="../../assets/rock.jpg" alt='picture' class='img-responsive'>

  <br><br>

  <h1 class="bot"> Today is a great time to purchase! </h1>

</div>



<footer width='95%'>
  <br>
       <!-- a60 additions at bottom -->
        <span style="color:white" class='t1'>2019 - A30Insurance - Angular</span>
       <span class='t1' style='color:gray;'>Find out info here</span> 
       <a routerLink="/info" class='t1' style="color: white">Information</a>
       <span class='t1' style='color:gray;'>Find about here...</span>
       <a routerLink="/about" class='t1' style="color: white">About</a>
       <span class='t1' style='color:gray;'>Time to buy...</span>
       <a  routerLink="/register"class='t1' style="color: white">{{friendlyDate}}</a>
       <span class='t1' style='color:gray;'> Demo website</span>
   
 </footer>

