 


 <h2 style='color:goldenrod'> Insurance </h2>


 <br>

 <p style="color:white">
 
 This application allows you to sign up as a customer and enter claims.
 You can adjust and pay claims. Claims have some unique fields: for instance 
 Medical claims have confine and release dates. The claim service you
 select will be used with the customer plan to compute covered cost.

 <br>

 </p><p style="color:white">
 An administrator menu is used to list customers and change customer id or passwords.
 This is for authorized users only.

 <br>

 </p><p style="color:white">
 The promotion code and email will be supplied by developer to limit use and provide authenitcation. 
 This site uses unique email but normally this would be checked against existeing usage on other 
 applications.
  
 
</p><p style="color:white">
Some screens allow you to change the background using the STYLE link.
Use it to change background to picture, solid or outline. Just click again to change.
SOLID and OUTLINE allow you to select a color.
     

</p><p style="color:white"> 
The MENU link allows you to subsubstitue a drop down menu for the links.
Click MENU again to return to links showing at top.

 <br>
 </p><p style="color:white">
 Thank you for trying this out!


 <br>
 <br>

 <Button class='btn btn-primary'  (click)="onReturn()">Return</Button> 