 
    <div class="container"> 
        
        <div class="row-md-6" style="margin-top: 20px">
            <div class="col-md-4"></div>
            <div class="col-md-8">
         </div><h2 style="color: burlywood">
            Welcome to Insurance
        </h2>
         </div> 

        <div class="row">

            <div class="col-md-2">

                <br /><br />

                <div>
                    <h3>New customer?</h3>
                    <p>
                        Please register here.
                    </p>
                        <a class="btn btn-primary" routerLink="/register" routerLinkActive="active">Register</a>
                 </div>

                <br /><br /><br />

                <div>
                    <h3>Existing customer?</h3>
                    <p>
                        Update customer and policy info.
                    </p>
                    <a class="btn btn-primary" routerLink="/signin" routerLinkActive="active">Sign-In</a>
                </div>


            </div>
 
            <div class="col-md-8">  

              <div class="invisible"> <!-- <== patch to start the carousel on first display of page. -->
                <ol>
                  <li #carousel data-target="#carouselExampleCaptions" data-slide="next"></li>
                </ol>
              </div> 

                <div class="bd-example">
                    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">  
                      <ul class="carousel-indicators">
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                      </ul>
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="../../assets/lake.JPG" class="r1 d-block w-100" alt="...">
                          <div class="carousel-caption d-none d-md-block">
                            <h5>Welcome</h5>
                            <p>Now is a great time to buy Insurance</p>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <img src="../../assets/sunset.jpg" class="r1 d-block w-100" alt="...">
                          <div class="carousel-caption d-none d-md-block">
                            <h5>Choices</h5>
                            <p>Let us meet all your insurance needs</p>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <img src="../../assets/road.jpg" class="r1 d-block w-100" alt="...">
                          <div class="carousel-caption d-none d-md-block">
                            <h5>Check out our products</h5>
                            <p>Look forward to serving you</p>
                          </div>
                        </div>
                      </div>
                      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                  </div>


            </div> 

          

            <!-- Controls -->
            <a class="left carousel-control" href="#my-carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#my-carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>


        </div>
 
 


    </div> 
