 
 <div class='container'>    
       
        <div id="styleDiv" [class]="claimStyleClass" [style]="userStyle"> 

        <div class="row" style="margin: 25px 0px 25px 0px;">

                <h3  [style]='headerStyle'> {{title}} {{custName}} </h3> 
                <div *ngIf="showAdjustedNumber"  [style]='headerStyle'>
                        <h4>{{claimIdToAdjust}}</h4>
                </div>

        </div>  

        <div class="row"> 

                <div class="col-md-2" style="margin-top: 80px;">  

                        <button class="st1 btn btn-primary a1" (click)="onType('m')">
                                Medical 
                        </button>
                        
                        <button class="st1 btn btn-info a1" (click)="onType('d')">
                                Dental &nbsp;
                        </button>
                        
                        <button class="st1 btn btn-warning a1" (click)="onType('v')">
                                Vision &nbsp;
                        </button>
                        
                        <button class="st1 btn btn-success a1" (click)="onType('x')">
                                Drug &nbsp; &nbsp;
                        </button>
               
                </div>
                <!-- image and fields in cols 3-12 -->
                <div class="col-md-10"> 
                <div>  
         
                        <!--div class="row"-->
                
                                <!--div class="col-md-10"-->
                                
                <div class="row"><br></div>  
                <div class="row"> 
        
                        <div class='col-md-2'></div>
                
                        <div class='col-md-3'> 
                
                        <label for='patientFirst' [style]='labelStyle' class="control-label">Patient First:</label> <br>
                        <input class="form-control st1"  type='text' [(ngModel)]="patientFirst"><br> 

                        </div>  

                        <div class='col-md-3'>  

                        <label for="patientLast" [style]='labelStyle' class="control-label">Patient Last:</label> <br>
                        <input class="form-control st1" type='text' [(ngModel)]="patientLast"><br>

                        </div>  

                        <div class='col-md-3'>  

                        <label for="claimDescription" [style]='labelStyle' class="control-label">Description:</label> <br>
                        <input class="form-control st1" type='text' [(ngModel)]="claimDescription"><br>

                        </div>  
        
                </div> <!-- end row -->

                <!-- second row: proc diag servce -->

                <div class="row"> 
        
                        <div class='col-md-2'></div>
                
                        <div class='col-md-3'> 
                
                                                
                                <label for="procedureCodes" [style]='labelStyle' class="control-label">Procedure Codes:</label> <br>
                                <input class="form-control st1" type='text' [(ngModel)]="procedureCodes" placeholder="nnnn"><br> 
                         
                        </div>  

                        <div class='col-md-3'>   
                                                                
                                <label for="diagnosisCodes" [style]='labelStyle' class="control-label">Diagnosis Codes:</label> <br>
                                <input class="form-control st1" type='text' [(ngModel)]="diagnosisCodes" placeholder="nnnn"><br>  
                                       
                        </div>  

                        <div class='col-md-3'>   
                                                
                                <label for="claimDateService" [style]='labelStyle' class="control-label">Service Date:</label> <br>
                                <input class="form-control st1" placeholder="mmddyyyy" type='text' [(ngModel)]="claimDateService"><br>  

                        </div>  
        
                </div> <!-- end row 2 -->

                <!-- doc clinic tot chg -->

                <div class="row"> 
        
                                <div class='col-md-2'></div>
                        
                                <div class='col-md-3'> 
                
                                        <label for="physician" [style]='labelStyle' class="control-label">Doctor:</label> <br>
                                        <input class="form-control st1" type='text' [(ngModel)]="physician"><br>   
                                
                                </div>  
        
                                <div class='col-md-3'>         
                                                                        
                                        <label for="clinicName" [style]='labelStyle' class="control-label">Clinic Name:</label> <br> 
                                        <input class="form-control st1" type='text' [(ngModel)]="clinicName"><br>   
                                </div>  
        
                                <div class='col-md-3'>    
                                        <label for="serviceSelect" [style]='labelStyle' class="control-label" >Service:</label> <br>   
                                        <select id="serviceSelect"  
                                                class='form-control'
                                               (change)="onServiceChange($event.target)">  
                                                <option  *ngFor="let s of typeServices" 
                                                        [selected]="s.ServiceName==defaultService"
                                                        [value]=s.ServiceName>
                                                        {{s.ServiceName}}
                                                </option>   
                                </select>  

                                <!-- ie5 limitation of default select -- select  class="form-control st1" style="color:blue"
                                                [(ngModel)]="modelService">  
                                                <option class="form-control st1"
                                                ng-Selected="s.ServiceName==defaultService"
                                                *ngFor="let s of typeServices">
                                                {{s.ServiceName}}
                                                </option>
                                </select-->  

                                </div> 
  
                                 
               </div> <!-- end row 3 --> 

                <div class="row"> 
        
                <div class='col-md-2'></div>
                
                <div class='col-md-3'>  
                
                <br>
              
                <br>
                        
                <!-- show button for type --> 

                <div *ngIf="showMedical">

                        <div class='row'><br></div>
                        <button style="margin-top: 14px; font-size: larger;" class="btn btn-medical" type='button'>
                                        Medical Claim
                        </button>

                </div>
                <div *ngIf="showDental">

                                <div class='row'><br></div>
                                <button style="margin-top: 14px; font-size: larger;" class="btn btn-dental" type='button'>
                                                Dental Claim
                                </button> 
        
                </div> 
                <div *ngIf="showVision">

                                <div class='row'><br></div>
                                <button style="margin-top: 14px; font-size: larger;" class="btn btn-vision" type='button'>
                                                Vision Claim
                                </button>
        
                 </div>
                <div *ngIf="showDrug">

                                <div class='row'><br></div>
                                <button style="margin-top: 14px; font-size:larger;"  class="btn btn-drug" type='button'>
                                                Drug Claim
                                </button>
        
                </div> 
        </div> <!-- end col 1 -->
                
                <div class='col-md-3'> 

                    <br>
               
                <br>

                <div *ngIf="showMedical">

                        <label for="confineDate" [style]='labelStyle' class="control-label">Confine Date:</label> <br>
                        <input class="form-control st1" placeholder="mmddyyyy" type='text' [(ngModel)]="DateConfine"><br>  

                </div>

                <div *ngIf="showDental">

                                <label for="toothNumber" [style]='labelStyle' class="control-label">Tooth Number:</label> <br>
                                <input class="form-control st1" type='text' [(ngModel)]="toothNumber"><br>  
        
                </div>

                <div *ngIf="showVision">

                        <label for="eyeware" [style]='labelStyle' class="control-label">Eyeware:</label> <br>
                        <input class="form-control st1" type='text' [(ngModel)]="eyeware"><br>  

                </div>

                <div *ngIf="showDrug">

                        <label for="drugName" [style]='labelStyle' class="control-label">Drug Name:</label> <br>
                        <input class="form-control st1" type='text' [(ngModel)]="drugName"><br>  

                </div>

                </div> 

                <div class="col-md-3">   

                <br>
                
            
                <br>

                <div *ngIf="showMedical">

                                <label for="releaseDate" [style]='labelStyle' class="control-label">Release Date:</label> <br>
                                <input class="form-control st1" placeholder="mmddyyyy" type='text' [(ngModel)]="DateRelease"><br>  
        
                        </div>

                </div>
        
                
                </div> <!-- bg image end --> 

        </div>

                </div>
                 

                <div *ngIf="showUnselected">

                        <div class='row'><br></div>

                        
                        <div class='row'>
                        
                                <div class='col-md-2'></div>
                        
                                <div class='col-md-4'> 
                                        <button class="btn btn-warning" type='button'>
                                                        Please select Claim Type 
                                        </button>
                                </div>
                        </div> 

                </div> 
                
                <div class='row'><br></div>
                
                <div class="row"> 
                         
                
                        <div style="margin-left: 600px; margin-top: 20px;"> 
                                <button class="st1 btn btn-primary"
                                        type='button'
                                        (click)="onSubmitClaim()"
                                        style="margin-bottom: 10px; margin-right:15px;">
                                                Submit Claim
                                </button>  
                                <button class="st1 btn btn-primary" 
                                        type='button'
                                        (click)="onCancel()"
                                        style="margin-bottom: 10px;">
                                                        Cancel
                                 </button>  
                        </div>  
                
                </div> 

                <div *ngIf='lineMessage != ""' class='col-xs-3'> 
                        <button type='button' style='margin-left:24px; margin-top:4px;'
                                class='st1 btn b1 btn-warning'
                                style="background-color:black; color: burleywood"> 
                                {{lineMessage}}
                        </button> <br>
                 <!--/div-->  

        <!--/div--> 

                </div>
       
       </div>

</div> <!-- end of style -->
</div>
        