 
 <div class='container'>


  <div class="row"><br></div>
  
  <div class="row"><br></div>

  <div class="row">

                  <div class='col-md-4'></div>
  
                  <div class='col-md-4'> 
  
                          <h3>Reset</h3> 
                          
                  </div>
  
  </div>

  

  <div class="row"><br></div>
  
  <div class="row"><br></div>

          
  <div class="row"> 

          <div class='col-md-4'></div>

          <div class='col-md-4'> 

                  <label for='newPassword' class="control-label">New Password:</label> <br>
                  <input type='password' [(ngModel)]="newPassword"><br><br>

                  <label for="newCustId" class="control-label">Password:</label> <br>
                  <input type='password' [(ngModel)]="newCustId"><br>

          </div>
  </div>
  <div class="row"><br></div>
  
  <div class="row"><br></div>
  
  <div class="row"><br></div>
  
  <div class="row">  


          <div class='col-md-4'></div>

          <div class='col-md-2'> 

                  <button type='button' class='btn btn-secondary' (click)="onSubmit()">
                                  Submit
                  </button> 
          </div> 

  </div>

  <div class="row"><br></div>
   
  <div class="row"> 

          <div class='col-md-4'></div>
  
          <div class='col-md-4'>  

                  <div class='message'>
                          {{message}}
                  </div> 
                  
          </div>

  </div>

  <div class="row"><br></div>
  
  <div class="row"><br></div>

  <div class="row">

                  <div class='col-md-4'></div>
  
                  <div class='col-md-4'> 
  
                          <h3>Administrator Actions</h3> 
                          
                  </div>
  
          </div>

</div> 


