 
 <div class='container'>


  <div class="row"><br></div>
  
  <div class="row"><br></div>

  <div class="row">

                  <div class='col-md-4'></div>
  
                  <div class='col-md-4'> 
  
                          <h3 style="color:burlywood">Administrator</h3> 
                          
                  </div>
  
  </div>

  

  <div class="row"><br></div>
  
  <div class="row"><br></div>

          
  <div class="row"> 

          <div class='col-md-4'></div>

          <div class='col-md-4'> 

                  <label for='admId' class="control-label">Admin Id:</label> <br>
                  <input type='text' class="form-control st1" [(ngModel)]="admId"><br><br>

                  <label for="admPassword" class="control-label">Password:</label> <br>
                  <input type='password' class="form-control st1"  [(ngModel)]="admPassword"><br>

          </div>
  </div>
  <div class="row"><br></div>
  
  <div class="row"><br></div>
  
  <div class="row"><br></div>
  
  <div class="row">  


          <div class='col-md-4'></div>

          <div class='col-md-2'> 

                  <button type='button' class='st1 b1 btn btn-primary' (click)="onSubmit()">
                                  Sign In 
                  </button> 
          </div> 

  </div>

  <div class="row"><br></div>
   
  <div class="row"> 

          <div class='col-md-4'></div>
  
          <div class='col-md-4'>  

                  <div style="color:burlywood;font-size:large;">
                          {{message}}
                  </div> 
                  
          </div>

  </div>

  <div class="row"><br></div>
  
  <div class="row"><br></div>

  

</div> 

