p { color: white}

/* h3 is outside of form keep it white always */
h3 { color: white; margin-left: 400px }

.one { float: left; width: '700px '; margin: 75px; border-width: 2px; border-color: gray;}
 

.form { margin-left: 350px; margin-top: 50px;    } 

/* .control-label { font-size: large; color: var(--label-color) } */

.control-label { font-size: large; margin-top: 15px;  }

.message { color: lawngreen } 

.bg-style { margin-left: 210px;
            background-image: none;
            border: none;
            background-color: black;}

.bg-image {padding:20px 50px 20px 50px; margin-left: 175px;
           background-image : url('../../assets/road.jpg'); background-size: 100% 100% }

/* these two classes use css variable */

.bg-outline {padding: 5px 40px 5px 40px; margin-left: 175px;
      border-style: solid; border-width: 2px;  }

.bg-solid {  padding: 5px 40px 5px 40px; margin-left: 175px; }
 

input { color: black; font-family: Arial, Helvetica, sans-serif  }
 

/*-- from A40 buttons */

.st1 { font-family: Arial;
    font-size: larger }


.b1:hover { color: goldenrod; background-color: black }
.b1 { color: white;  background-color: black; margin: 2px;
   font-size:  larger;  }